<p class="form_info"> Введите имя пользователя: 
<%= f.text_field :name %>
</p>
<p class="form_info"> Введите фамилию пользователя:
<%= f.text_field :lastname %>
</p>
<p class="form_info"> Введите электронный адрес пользователя:
<%= f.text_field :email %>
</p >