<div class = "center jumbotron">
	<h1>Loans App</h1>
	<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="assets/2018-03-13_003928.jpg" style = "width:100%">
      <div class="caption">Василий Сикорский</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="assets/68044c90-4a8b-48cf-9.png" style = "width:100%">
      <div class="caption">Алексей Чернышенко</div>
    </div>
  </div>
</div>