<p class="form_info"> Введите имя заемщика: 
<%= f.text_field :giver %>
</p>
<p class="form_info"> Введите сумму займа:
<%= f.text_field :sum %>
</p>
<p class="form_info"> Введите срок займа:
<%= f.text_field :term %>
</p>
<p class="form_info"> Введите процент займа:
<%= f.text_field :interest %>
</p >