<h2>Редактирование пользователя</h2>
<%= render partial: "layouts/errors", locals: {item: @loan} %>
<%= form_for @loan, html: {class: "form-horizontal"}  do |f| %>
<%= render partial: "form", locals: {f: f, button: "Сохранить займ"} %>
<% end %>
 