<h2>Создание нового пользователя</h2>
<%= form_for @loan do |f| %>
<%= render partial: "form", locals: {f: f} %>
<p class = "form_info"> Заемщик: 
<%= f.collection_select :user_id, User.all.order("lastname"), :id, :lastname %>
</p>
<p class="form_info">
<%= f.submit "Создать новый долг" %>
</p>
<% end %>
 