$navbar-default-bg: #22bbee;

#logo {
  float: left;
  font-weight: bold;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  text-transform: uppercase;
}


.form_info {
  width: 500px;
  text-align: right;
}

.center {
  text-align: center;
}

@import "bootstrap-sprockets";
@import "bootstrap";